@use 'shared/styles/mixins' as *;

.root {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
}

.main {
  flex: 1;
}

.footer {
  @include text('body-s');

  padding-block: var(--spacing-m);
  color: var(--color-text-tertiary);
  border-top: 1px solid var(--color-border-subtle);
}

.progress {
  position: fixed;
  inset: 0 0 auto;
  z-index: var(--z-toast);
  height: 3px;
  background-color: var(--color-action-primary-bg);
  transform-origin: left;
  animation: progress 1.2s ease-in-out infinite;
}

@keyframes progress {
  0% {
    transform: scaleX(0);
  }

  50% {
    transform: scaleX(0.7);
  }

  100% {
    opacity: 0;
    transform: scaleX(1);
  }
}
