@use 'shared/styles/mixins' as *;

.root {
  @include fluid(padding-block, var(--spacing-2xl), var(--spacing-5xl));
}

.title {
  @include text('heading-l');

  margin: 0;
}

.text {
  margin: 0;
  color: var(--color-text-secondary);
}
